.li{
    text-align: left;
    justify-content: center;
    padding-bottom: 2vh;
    font-weight: bold;
    /* display: flex */
}

.button{
    margin-left: 3vh;
    border-radius: 10%;
    background-color: aquamarine;
    box-shadow: inset;
    font-family: 'Courier New', Courier, monospace ;
    font-weight: bolder;

}

.checkbox{
    min-height: 2vh;
    min-width: 2vh;
    accent-color: aquamarine;
    padding-top: 3vh;

}